# Project: Credit Classification

** This project aims to detect poor credit customers who we want to avoid giving loans to.

1. Data Prep & EDA
2. Logistic Regression
3. Imbalanced Data
4. Ensemble Models

## STEP 1: Data Prep & EDA

1. Import the Data
2. Modify the target variable
3. Explore the Data
4. Prepare the Data for modeling

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV

Data_Raw = pd.read_csv('../credit_scores.csv').drop(columns=['Name', 'SSN', 'ID', 'Customer_ID'], axis=1)
Data_Raw.head()

   Month   Age Occupation  ...                 Payment_Behaviour  Monthly_Balance  Credit_Score
0      1  23.0  Scientist  ...   High_spent_Small_value_payments       312.494089          Good
1      2  23.0  Scientist  ...    Low_spent_Large_value_payments       284.629162          Good
2      3  23.0  Scientist  ...   Low_spent_Medium_value_payments       331.209863          Good
3      4  23.0  Scientist  ...    Low_spent_Small_value_payments       223.451310          Good
4      5  23.0  Scientist  ...  High_spent_Medium_value_payments       341.489231          Good

[5 rows x 24 columns]

In [10]:
Data_Raw.shape

(100000, 24)

In [6]:
Data_Raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     100000 non-null  int64
 1   Age                       100000 non-null  float64
 2   Occupation                100000 non-null  object
 3   Annual_Income             100000 non-null  float64
 4   Monthly_Inhand_Salary     100000 non-null  float64
 5   Num_Bank_Accounts         100000 non-null  float64
 6   Num_Credit_Card           100000 non-null  float64
 7   Interest_Rate             100000 non-null  float64
 8   Num_of_Loan               100000 non-null  float64
 9   Type_of_Loan              100000 non-null  object
 10  Delay_from_due_date       100000 non-null  float64
 11  Num_of_Delayed_Payment    100000 non-null  float64
 12  Changed_Credit_Limit      100000 non-null  float64
 13  Num_Credit_Inquiries      100000 non-null  float64
 14  Credit_Mix                100000 non-null  object
 15  Outstanding_Debt          100000 non-null  float64
 16  Credit_Utilization_Ratio  100000 non-null  float64
 17  Credit_History_Age        100000 non-null  float64
 18  Payment_of_Min_Amount     100000 non-null  object
 19  Total_EMI_per_month       100000 non-null  float64
 20  Amount_invested_monthly   100000 non-null  float64
 21  Payment_Behaviour         100000 non-null  object
 22  Monthly_Balance           100000 non-null  float64
 23  Credit_Score              100000 non-null  object
dtypes: float64(17), int64(1), object(6)
memory usage: 18.3+ MB

In [13]:
# there seems to be no null values or any column with a wrong datatype.